{% extends 'base.html.twig' %}

{% block body %}
 <div class="card" style="width: 18rem;">
  <img src="{{asset('images/'~ album.image)}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Album: {{album.name}}</h5>
    <p class="card-text"> Price: {{album.price}}</p>
    <p class="card-text"> description: {{album.description}}</p>
    <p class="card-text"> Status: {{album.fk_status.name}}</p>
    <a href="/" class="btn btn-primary">Home</a>
  </div>
</div>
{% endblock %}